<div class="nav" [class.nav--open]="navOpen">
  <h3>Virtual Scrolling Demos</h3>
  <a
    class="nav-item"
    [routerLink]="['']"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{exact: true}"
  >blank</a>
  <h3>Native</h3>
  <a
    class="nav-item"
    [routerLink]="['native/default']"
    [routerLinkActive]="'active'"
  >Default</a
  >
  <a
    class="nav-item"
    [routerLink]="['native/content-visibility']"
    [routerLinkActive]="'active'"
  >Content Visibility</a
  >
  <h3>RXA</h3>
  <a
    class="nav-item"
    [routerLink]="['rxa/fixed-size']"
    [routerLinkActive]="'active'"
  >Fixed Size</a
  >
  <a
    class="nav-item"
    [routerLink]="['rxa/dynamic-size']"
    [routerLinkActive]="'active'"
  >Dynamic Size</a
  >
  <a
    class="nav-item"
    [routerLink]="['rxa/autosize']"
    [routerLinkActive]="'active'"
  >Autosize</a
  >
  <h3>CDK</h3>
  <a
    class="nav-item"
    [routerLink]="['cdk/fixed-size']"
    [routerLinkActive]="'active'"
  >Fixed Size</a
  >
  <a
    class="nav-item"
    [routerLink]="['cdk/dynamic-size']"
    [routerLinkActive]="'active'"
  >Dynamic Size</a
  >
  <a
    class="nav-item"
    [routerLink]="['cdk/autosize']"
    [routerLinkActive]="'active'"
  >Autosize</a
  >
  <!--<h3>RXA vs. CDK</h3>
  <a
    class="nav-item"
    [routerLink]="['compare/fixed-size-cdk-compare']"
    [routerLinkActive]="'active'"
  >Fixed Size</a
  >
  <a
    class="nav-item"
    [routerLink]="['compare/dynamic-size-cdk-compare']"
    [routerLinkActive]="'active'"
  >Dynamic Size</a
  >
  <a
    class="nav-item"
    [routerLink]="['compare/autosize-cdk-compare']"
    [routerLinkActive]="'active'"
  >Autosize</a
  >-->
</div>
<div class="content" (mousedown)="closeNavIfOpen($event)">
  <button
    class="nav-toggle"
    (click)="$event.stopPropagation(); navOpen = !navOpen"
  >
    ☰
  </button>
  <router-outlet></router-outlet>
</div>
